.tabla-crypto tbody tr:hover{
    background-color:beige;
}

.categoria{
    background-color:beige;
}

h1, h2, h3 {
    color: rgb(95, 95, 119);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tbody{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#principal {
    width: 50%;
    float: left;
    left: 50px;
    top: 20px;
}

#secundario {
    width: 50%;
    float: right;
    top: 20px;
    left: 200px;
}

#transaccion{
    float: left;
    top: 50px;
}
#footer {
    float: left;
    top: 60px
}