<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myCrypto</title>
        <link rel="stylesheet" href="/static/css/milligram.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/spa.js"></script>
    </head>
    <body>
        <head>
            <h1>myCrypto</h1>
        </head>
            <section class="container" id="principal">
                <h2>Movimientos de las inversiones</h2>
                <div class="lista-movimientos">
                    <table class="tabla-crypto">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>De moneda</th>
                                <th>Cantidad</th>
                                <th>A moneda</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </section>
            <section class="container" id="secundario">
                <h2>Situación actual</h2>
                <form>
                    <div class="row">
                        <div class="column column-33">
                            <label for="from_moneda">Euros invertidos</label>
                            <input type="number" name="cantidad" id ="saldoEuros" step="any" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column column-33">
                            <label for="from_moneda">Euros Gastados</label>
                            <input type="number" name="cantidad" id ="gastado" step="any" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column column-33">
                            <label for="from_moneda">Posción actual</label>
                            <input type="number" name="cantidad" id ="posicionfinal" step="any" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <button class="button button-outline" id="actualizar">Actualizar inversion</button>
                        </div>
                    </div>
                </form>
            </section>
        <div class="detail-movimiento container" id="transaccion">
            <h3>Nueva transacción</h3>
            <hr>
            <form >
                <div class="row">
                    <div class="column column-33">
                        <label for="from_moneda">De moneda</label>
                        <select name="categoria" id="categoria">
                            <option value="">Elije moneda</option>
                            <option value="EUR">Euros</option>
                            <option value="ETH">Ethereum</option>
                            <option value="LTC">Litecoin</option>
                            <option value="BNB">Binance Coin</option>
                            <option value="EOS">EOS</option>
                            <option value="XLM">Stellar</option>
                            <option value="TRX">TRON</option>
                            <option value="BTC">Bitcoin</option>
                            <option value="XRP">XRP</option>
                            <option value="BCH">Bitcoin Cash</option>
                            <option value="USDT">Tether</option>
                            <option value="BSV">Bitcoin SV</option>
                            <option value="ADA">Cardano</option>
                        </select>
                    </div>
                    <div class="column column-33">
                        <label for="from_cantidad">Cantidad</label>
                        <input type="number" name="cantidad" id="from_cantidad" step="any">
                    </div>
                </div>
                <div class="row">
                    <div class="column column-33">
                        <label for="to_moneda">A moneda</label>
                        <select name="categoria" id="cambio">
                            <option value="">Elije moneda</option>
                            <option value="EUR">Euros</option>
                            <option value="ETH">Ethereum</option>
                            <option value="LTC">Litecoin</option>
                            <option value="BNB">Binance Coin</option>
                            <option value="EOS">EOS</option>
                            <option value="XLM">Stellar</option>
                            <option value="TRX">TRON</option>
                            <option value="BTC">Bitcoin</option>
                            <option value="XRP">XRP</option>
                            <option value="BCH">Bitcoin Cash</option>
                            <option value="USDT">Tether</option>
                            <option value="BSV">Bitcoin SV</option>
                            <option value="ADA">Cardano</option>
                        </select>
                    </div>
                    <div class="column column-33">
                        <label for="to_cantidad">Cambio</label>
                        <input type="number" name="precio" id="precio" step="any" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-33">
                        <label for="precio unitario"> Precio unitaro</label>
                        <input type="number" name="unitario" id="unitario" step="any" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button id="calcular">Calcular</button>
                        <button id="realizar">Realizar</button>
                        <div>
                            <a href="">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
            <footer>&copy 2021 - Todos los derechos reservados</footer>
        </div>
    </body>
</html>